@import url(variables.css);

body{
    background-color: var(--background-primary);
    font-family: var(--ff-inter);
    padding: 20px;
}

.btn_voltar button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    gap: 4px;
    margin-bottom: 16px;
}
img{
    height: 20px;
}
.voltar{
    font-size: var(--fs-link);
    color: var(--color-brand);
    font-weight: bold;
    line-height: 16px;
}

h1{
    font-family: 'Inter';
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block:20px 42px;
}
.space-container{
    display: flex;
    align-items: center;
    gap: 8px;
}
input{
        padding: 16px;
        border-radius: 12px;
        border: 2px solid var(--border-primary);
}
input:focus{
    border: 2px solid var(--color-brand);
    outline: none;
}

.radio{
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: none;
}

.radio:focus{
    background: url(assets/img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-brand);
    border: none;
}


.adicionar{
    background-color: var(--color-brand);
    color: var(--always-white);
    font-family: 'Inter';
    font-size: var(--fs-label);
    padding: 12px;
    border: none;
    border-radius: 12px;
}





.item-container{
    background: var(--background-secondary);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    font-family: 'Inter';
    margin-bottom: 8px;
    display: flex;
}

.displayNone{
    display: none;
}
.displayBlock{
    display: block;
}
.btn_lixeira {
    background-color: transparent;
    border: none ;
}





.alert-remove{
    margin-top: 36px;
    background: var(--color-danger);
    color: var(--always-white);
    font-family: 'Inter';
    font-size: var(--fs-label);
    border-radius: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    display: none;
}

.show-result{
    display: block;
}

@media (width> 1000px) {
    body{
        padding: 20px 200px;
    }
    .logo-container{
        display: flex;
        justify-content: center;
    }
    .logo{
        content: url(assets/img/logo.svg);
    }
    form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }
    input{
        width: 890px;
        margin-right: 16px;
    }
    .adicionar{
        width: 467px;
    }
}